<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
        {{nomb}}
        {{ed}}
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Harum perspiciatis consectetur quidem. 
        Velit tempora, ea consequatur iusto iure quos facilis doloribus. 
        Culpa eius est ducimus blanditiis ea officiis aliquid laboriosam?</p>
    
    
</body>
</html>