<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testvista</title>
</head>
<body>
    <style>
        .prueba{
            border: 1px dashed black;
            margin: 10px;


        }



    </style>
    <div class="prueba">
        <h1>Saludos</h1>
        <label> Nombre </label>{{nomb}}
        <label> Edad</label>{{edad}}
        <p> Prueba de html con Django y python</p>
    </div>
</body>
</html>