{% extends "trello1/index.html" %}
{% load bootstrap4 %}
{% block content %}

<table class="table tablatablero rounded">
    <tbody>
        <tr>
            <th>Nombre</th>
            <th>Informacion</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {% for tablero in object_list %}
            <tr>
                <td>{{tablero.nombre}}</td>
                <td><a href="{% url 'consultargeneral' tablero.id %}">
                Consultar Tablero
                </a>
                </td>
                <td><a href="{% url 'update_tablero' tablero.id %}">
                Editar
                </a>
                </td>
                <td><a href="{% url 'eliminar_tablero' tablero.id %}">
                        Eliminar
                    </a> 
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}