{% extends "trello1/index.html" %}
{% load bootstrap4 %}
{% block content %}

    <table class="table">
        <tbody>  
        {% for tarea in object_list %}
        <tr>
            <td>{{tarea.nombreTare}}</td>
            <td>{{tarea.description}}</td>
            <td>{{fkLista}}</td>
            <td><a href="{% url 'update_tarea' tarea.id %}">
                EDITAR TAREA
            </a>
            </td>
            <td><a href="{% url 'eliminar_tarea' tarea.id %}">
                    ELIMINAR TAREA
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}