{% extends "trello1/index.html" %}
{% load bootstrap4 %}
{% block content %}


<div class="row">
    <div class"col-xs-12 col-md-12 col-lg-12">
        <h1>Tableros</h1>
        <form method="POST"> 
            {% csrf_token %}  {% bootstrap_form formTablero %}
            
            <input type="submit" class="btn btn-primary"value="Enviar">
            
        </form>

    </div>

</div>
{% for Tablero in object_list %}

    <table class="table tablatablero">
        <tbody>
            {% for tablero in object_list %}
        <tr>
            <td>{{tablero.nombre}}</td>
            <td><a href="{% url 'update_tablero' tablero.id %}">
            EDITAR TABLERO
            </a>
            </td>
            <td><a href="{% url 'eliminar_tablero' tablero.id %}">
                    ELIMINAR TABLERO
                </a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock content %}