{% extends "trello1/index.html" %}
{% load bootstrap4 %}
{% block content %}

    <table class="table">
        <tbody> 
            <tr>
                <th>Nombre Tarea</th>
                <th>Descripcion</th>
                <th>Lista a que pertenece</th>
                
            </tr>
        {% for tarea in object_list %}
        <tr>
    
            <td>{{tarea.nombreTare}}</td>
            <td>{{tarea.descripcion}}</td>
            <td>{{tarea.fkLista}}</td>
            <td><a href="{% url 'update_tarea' tarea.id %}">
                Editar
            </a>
            </td>
            <td><a href="{% url 'eliminar_tarea' tarea.id %}">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}