{% extends "trello1/index.html" %}
{% load bootstrap4 %}
{% block content %}

    <table class="table">
        <tbody> 
            <tr>
                <th>Nombre Lista</th>
                <th>Tablero a que pertenece</th>
            </tr>
        {% for lista in object_list %}
        <tr>
            <td>{{lista.nombreLista}}</td>
            <td>{{lista.fkTablero}}</td>
           <td> <a href="{% url 'update_lista' lista.id %}">
                Editar
            </a>
           </td>
           <td>
               <a href="{% url 'eliminar_lista' lista.id %}">
                Eliminar
            </a>
           </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}