{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section class="container-fluid cabeza">
    
    <div class="row menuinicio">
        <h1 class="titulo">Villa Tomillo</h1>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <ul class="nav nav-tabs justify-content-center listamenu">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tablero</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'consultarTablero' %}">Consultar Tablero</a>
                <a class="dropdown-item" href="{% url 'formtablero' %}">Crear Tablero</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lista</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'consultarLista' %}">Consutalr Lista</a>
                <a class="dropdown-item" href="{% url 'formlista' %}">Crear Lista</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tareas</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'consultarTarea' %}">Consultar Tarea</a>
                <a class="dropdown-item" href="{% url 'formtarea' %}">Crear Tarea</a>
                </div>
            </li>
            
            </ul>
        </div>
    </div>

    
    
{% block content %}

{% endblock content %}



</section>
</body>
</html>

