

.menuinicio{
    margin-top: 60px;

}
.titulo{
    float: left;
    margin-left: 15em;
    padding: 15px;
    border:  2px solid black;
    
}

.agregar{
    text-align: center;
    margin-top: 50px;
}
.listamenu li{
    margin-top: 20px;
    margin-left: 3em;
    text-align: center;
    font-size: large;
}

/* cajas*/

.cajas{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.bloque{
    width: 400px;
    margin-left: 22em;
    border: 4px solid black;
    border-radius: 25px;
    background-color: lightblue;
}

.atras{
    margin: 10px;
}